<% provide(:title,"Shun Kubota") %>
  <div class="container">
    <!-- 見出し -->
    <div class="jumbotron">
      <h2 style="font-family:futura; font-weight:900">I taught myself to code by making 180 websites in 180 days!</h2>
      <p>From April 1st, 2013 to September 27, 2013, I made one website a day, every single day as a learn to code project. Along the way, I published all my code publicly on GitHub and wrote a blog post to accompany each website. I started with just a little html and css, but by the end I was making dynamic, interactive apps using Javascript, Ruby on Rails and Node.js.</p>

      <p>Check out this blog post to read more about the project.</p>

      <p>Since I finished the 180 Websites project, I've been continuing to develop my coding skill set. Immediately after the 180 Websites project, I worked on YumHacker, a restaurant discovery website. I tackled YumHacker solo, making everything from backend to the front as well as exploring other product development issues like marketing, SEO and business relationships. YumHacker's built with a Rails API on the backend serving a Backbone front end as a single page app.</p>

      <p>Recently, I've been working on a side project called Zube using Node.js, MongoDB and Backbone. We're still in alpha but you can sign up on the landing page I'll let you know when we go to beta!</p>
      <p><a href="" target="_blank" class="btn btn-success btn-lg">START</a></p>
    </div><!-- 見出し終了 -->
  </div>