<% provide(:title,"Shun Kubota") %>
  <div class="container">
    <div class="jumbotron">
      <h2 style="font-family:futura; font-weight:900">I taught myself to code by making 200 websites in 200 days!</h2>
      <p>From July 4, which is my birthday, 2016 to January 20, 2017, I make one website a day, every single day as a learn to code project. Along the way, I am going to publish all my code publicly on GitHub and wrote a blog post to accompany websites. I started with just a little html and css.</p>
    </div>
  </div>