<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chatty Room | Jennifer Dewalt</title>
</head>

<body id="Chatty Room">
  <header>
    <div id="logo">Chatty Room</div>
  </header>
  <div id="chatroom">
    hogehoge
  </div>
</body>
</html>