@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.website_list_container span {
  text-decoration: underline;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  position: relative;
  bottom: 0;
  text-align: center;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}



#contents {
  z-index: 0;
  font-size: 16px;
}
#modal-open {
  color: #cc0000;
}
/* モーダル コンテンツエリア */
#modal-main {
　display: none;
}


.comment {
  width: 50%;
  min-width: 250px;
  background: #ffffff;
  margin: 10px;
  padding: 0 8px;
  border: 2px solid #515151;
  border-radius: 10px;
}
input[type=submit] {
    background: #0275d8;
    margin: 2px;
    border: 3px solid #0275d8;
    border-radius: 5px;
    color: #ffffff;
}
