.workspace {
  margin-top: 40px;
  overflow: hidden;
}


.color_pallete {
  width: 100px;
  height: 500px;
  float: left;

  .color {
    width: 80px;
    height: 80px;
    margin: 10px;
  }
}

.wall {
  height: 500px;
  width: calc(90% - 100px);
  position: relative;
  float: left;
  background: #2E2E2E;
  margin-left: 20px;
  padding: 0 5px;

  .row_1,
  .row_3,
  .row_4 {
    height: 100px;
    margin: 10px 0;
  }
  .row_2 {
    height: 150px;
    margin: 10px 0;
  }

  .col_1,
  .col_3,
  .col_4 {
    width: 100px;
    height: 100%;
    margin: 0 5px;
    background: #fff;
    float: left;
  }
  .col_2 {
    width: calc(100% - 340px);
    height: 100%;
    margin: 0 5px;
    background: #fff;
    float: left;
  }  
}



/* color */

.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
