.workspace {
  margin-top: 40px;
  overflow: hidden;
}

.discription_message {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}


/**  change the color  **/
.color_change_box {
  width: 30vmin;
  height: 30vmin;
  background: red;
  margin: auto;
  border: 1px solid black;
}

.color_range {
  margin: 20px auto;
  width: 30vmin;
  clear: both;

  label {
    margin: auto;
  }
}


/**  change the wall  **/
.color_pallete {
  width: 100px;
  height: 300px;
  float: left;

  .color {
    width: 80px;
    height: 80px;
    margin: 10px;
  }
}

.wall {
  height: 300px;
  width: calc(90% - 100px);
  position: relative;
  float: left;
  background: #2E2E2E;
  margin-left: 20px;

  .row_1,
  .row_2,
  .row_3,
  .row_4 {
    height: 24%;
    padding: 0.5%;
  }

  .col_1,
  .col_2,
  .col_3,
  .col_4 {
    width: 24%;
    height: 100%;
    margin: 0.5%;
    background: #fff;
    float: left;
  }
}


/* color */
.red { background-color: red;}
.green { background-color: green;}
.blue { background-color: blue;}
