.workspace {
  margin-top: 40px;
  overflow: hidden;
}

.description_message {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}

/** stopwatch **/
.stopwatch {
  width: 100%;
  height: auto;
  min-height: 350px;
  text-align: center;
  margin: auto;
  background: #323232;
  border-radius: 5px;
  border: 6px solid;
  border-color: #FFF00C;  
}
.stopwatch_button {
  margin: 10px;
  height: auto;
}
.colon {
  position: relative;
  width: auto;
  top: -50px;
  display: inline-block;
  font-size: 120px;
  color: #FFF00C;
}
.time_unit {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  min-height: 250px;
  margin: 0 10px;
}
.digit {
  position: relative;
  display: inline-block;
  margin: 40px 5px;
  height: 174px;
  width: 90px;
}

.bar {
  position: relative;
  width: 80px;
  height: 14px;
  background:
    linear-gradient(45deg,  transparent 7px, #FFF00C 7px),
    linear-gradient(135deg, transparent 7px, #FFF00C 7px),
    linear-gradient(225deg, transparent 7px, #FFF00C 7px),
    linear-gradient(315deg, transparent 7px, #FFF00C 7px);
  background-position: bottom left, top left, top right, bottom right;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}


.top_bar {
  position: absolute;
  top: 0;
}
.middle_bar {
  position: absolute;
  top: 72px;
}
.bottom_bar {
  position: absolute;
  top: 144px;
}
.left_upper_bar {
  position: absolute;
  top: 36px;
  left: -36px;
  transform: rotate(-90deg); -ms-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -o-transform: rotate(-90deg);
}
.right_upper_bar {
  position: absolute;
  top: 36px;
  right: -25px;
  transform: rotate(-90deg); -ms-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -o-transform: rotate(-90deg);  
}
.left_lower_bar {
  position: absolute;
  top: 108px;
  left: -36px;
  transform: rotate(-90deg); -ms-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -o-transform: rotate(-90deg);  
}
.right_lower_bar {
  position: absolute;
  top: 108px;
  right: -25px;
  transform: rotate(-90deg); -ms-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -o-transform: rotate(-90deg);  
}


/** have_the_time **/
.clock {
  width: 350px;
  text-align: center;
  margin: auto;
  background: #ffffff;
  border-radius: 5px;
  border: 6px solid;
  border-color: rgb(170,157.25,250.75);
}
#date,
#time {
  font-family: 'Monoton', cursive;
  font-size: 40px;
}

/** paint_editor **/
.canvas {
  background: #ffffff;
  float: left;
}
.paint_editor_color_box {
  float: left;
  width: 150px;
  margin: 10px;

  .color_change_box_2 {
    width: 10vmin;
    height: 10vmin;
    background: rgb(0,0,0);
    margin: auto;
    border: 1px solid black;  
    float: left;
  }
}

/**  change the color  **/
.color_change_box {
  width: 30vmin;
  height: 30vmin;
  background: red;
  margin: auto;
  border: 1px solid black;
}

.color_range {
  margin: 20px auto;
  width: 30vmin;
  clear: both;

  label {
    margin: auto;
  }
}


/**  change the wall  **/
.color_pallete {
  width: 100px;
  height: 300px;
  float: left;

  .color {
    width: 80px;
    height: 80px;
    margin: 10px;
  }
}

.wall {
  height: 300px;
  width: calc(90% - 100px);
  position: relative;
  float: left;
  background: #2E2E2E;
  margin-left: 20px;

  .row_1,
  .row_2,
  .row_3,
  .row_4 {
    height: 24%;
    padding: 0.5%;
  }

  .col_1,
  .col_2,
  .col_3,
  .col_4 {
    width: 24%;
    height: 100%;
    margin: 0.5%;
    background: #fff;
    float: left;
  }
}


/* color */
.red { background-color: red;}
.green { background-color: green;}
.blue { background-color: blue;}
