    <div class="row">
        <!-- フッターは等分なしのワンカラム col-sm-12 -->
        <div class="col-sm-12">
          <footer>
            <p>© 2016 ShunKubota All rights reserved.</p>
          </footer>
        </div>
      </div>
